
<div class="text-center">


  <div class="row justify-content-center">
    <div class="table-responsive-sm col-auto">
      <table class="table table-hover table-sm table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="text-center table-secondary">&Delta;&euro;</th>
            <th scope="col" class="text-center table-secondary">%</th>
         </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Year To Date</th>
            <th scope="row">{{ '{:,.0f}'.format(portfolio["value"] - stats[0].value) }}</th>
            <th scope="row">{{ '{:,.2f}'.format(100* (portfolio["value"] - stats[0].value) / stats[0].value) }}</th>
          </tr>
          <tr>
            <th scope="row">volatility 30d</th>
            <th scope="row">&#177; {{ '{:,.0f}'.format(portfolio["value"] * stats[-1].rolling_avg_30d) }}</th>
            <th scope="row">&#177; {{ '{:,.2f}'.format(100 * stats[-1].rolling_avg_30d) }}</th>
          </tr>
          <tr>
            <th scope="row">From ATH</th>
            <th scope="row">{{ '{:,.0f}'.format(ath["down"]) }}</th>
            <th scope="row">{{ '{:,.2f}'.format(100 * ath["per"]) }}</th>
          </tr>
          <tr>
            <th scope="row">Max drawdown</th>
            <th scope="row">{{ '{:,.0f}'.format(drawdown["end_value"] - drawdown["start_value"])}}</th>
            <th scope="row">{{ '{:,.2f}'.format(100 * drawdown["per"]) }}</th>
          </tr>
          <tr>
            <th scope="row"># win days</th>
            <th scope="row">{{ '{:,.0f}'.format(win_lose_stats["win_days"] )}}</th>
            <th scope="row">{{ '{:,.2f}'.format( 100* win_lose_stats["win_days"] / (win_lose_stats["win_days"] + win_lose_stats["lose_days"]) )  }}</th>
          </tr>
            <th scope="row">avg win day</th>
            <th scope="row">{{ '{:,.0f}'.format(win_lose_stats["win_average"] )}}</th>
            <th scope="row"></th>
          </tr>
          <tr>
            <th scope="row">avg loss day</th>
            <th scope="row">{{ '{:,.0f}'.format(win_lose_stats["lose_average"] )}}</th>
            <th scope="row"></th>
          </tr>
          <tr>
            <th scope="row">max win day</th>
            <th scope="row">{{ '{:,.0f}'.format(win_lose_stats["win_max"] )}}</th>
            <th scope="row"></th>
          </tr>
          <tr>
            <th scope="row">max loss day</th>
            <th scope="row">{{ '{:,.0f}'.format(win_lose_stats["lose_max"] )}}</th>
            <th scope="row"></th>
          </tr>
        </tbody>
      </table>
    </div>



  </div>
  </div>
<hr>
