{% extends 'base.html' %}

{% block content %}

<h4>Update asset</h4>
<hr>

<form method="post">
{{ form.hidden_tag() }}
{% for field in form if field.widget.input_type != 'hidden' %}
  {% if field.type == "SubmitField" %}
    {{ field(class='btn btn-warning', value="Update") }}
  {% else %}
  <div class="form-group row">
    {{ field.label(class='col-sm-3 col-form-label') }} {{ field(class='form-control col-sm-3') }}
  </div>
  {% endif %}
{% endfor %}
</form>
<br>
<a class="btn btn-danger mb-2" href="{{ url_for('delete_asset', asset_id=asset_id) }}" role="button">Delete</a>

{% endblock %}
