{% extends 'base.html' %}

{% block menu %}
  {% for wallet in wallets %}
  <li class="nav-item active">
    <a class="nav-link" href="/wallet/{{ wallet.id }}">{{ wallet.name }}</a>
  </li>
   {% endfor %}
{% endblock %}

{% block content %}


{% include 'sectors.html' %}
{% include 'metrics.html' %}

  <div class="d-flex flex-row-reverse">
      <small><a class="text-secondary" style="text-decoration:none;" role="button" href="{{ url_for('scrape') }}">last update: {{last_scrape}}</a></small>
  </div>

{% endblock %}

{% block scripts %}
{% endblock %}
