{% extends 'base.html' %}

{% block content %}

{% if assets %}

  <div class="row col-auto justify-content-center">
    <div class="table-responsive-sm">
      <table class="table table-hover table-sm table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="text-center table-secondary">#</th>
            <th scope="col" class="text-center table-secondary">Price</th>
            <th scope="col" class="text-center table-secondary">&Delta;%</th>
            <th scope="col" class="text-center table-secondary">PnL</th>
            <th scope="col" class="text-center table-secondary">&euro;</th>
            <th scope="col" class="text-center table-secondary">%</th>
            <th scope="col" class="text-center table-secondary">Target</th>
            <th scope="col" class="text-center table-secondary">&Delta;&euro;</th>
            <th scope="col" class="text-center table-secondary">&Delta;#</th>
         </tr>
        </thead>
        <tbody>
          {% for item in assets %}
          <tr>
            <th scope="row">{{ item.ticker.description}}</th>

            {% if item.pnl >= 0 %}
              {% set color = 'table-success' %}
            {% else %}
              {% set color = 'table-danger' %}
            {% endif %}


            {% if item.sector == "crypto" %}
              <td class="text-right {{color}}">{{ '{0:0.2f}'.format(item.shares) }}</td>
            {% else %}
              <td class="text-right {{color}}">{{ '{0:0.0f}'.format(item.shares) }}</td>
            {% endif %}
            <td class="text-right {{color}}">{{ '{:,.2f}'.format(item.ticker.price) }}</td>
            <td class="text-right {{color}}">{{ '{:,.2f}'.format(item.ticker.price_change) }}</td>
            <td class="text-right {{color}}">{{ '{:,.0f}'.format(item.pnl) }}</td>
            <td class="text-right table-info">{{ '{:,.0f}'.format(item.value)}}</td>
            <td class="text-right">{{ '{:,.2f}'.format(100*item.percentage)}}</td>
            <td class="text-right">{{ '{:,.2f}'.format(item.target)}}</td>
            <td class="text-right">{{ '{:,.0f}'.format(portfolio.value*item.target/100-item.value)}}</td>
            {% if item.sector == "crypto" %}
              <td class="text-right">{{ '{:,.2f}'.format((portfolio.value*item.target/100-item.value)/item.ticker.price)}}</td>
            {% else %}
              <td class="text-right">{{ '{:,.0f}'.format((portfolio.value*item.target/100-item.value)/item.ticker.price)}}</td>
            {% endif %}
          </tr>
          {% endfor %}
          <tr>

          {% if portfolio.pnl >= 0 %}
            {% set color = 'table-success' %}
          {% else %}
            {% set color = 'table-danger' %}
          {% endif %}
            <th scope="row" class="table-info">TOTAL</th>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right {{color}} font-weight-bold">{{ '{:,.2f}'.format(portfolio["change"])  }}</td>
            <td class="text-right {{color}} font-weight-bold">{{ '{:,.0f}'.format(portfolio["pnl"])  }}</td>
            <td class="text-right table-info font-weight-bold">{{ '{:,.0f}'.format(portfolio["value"])  }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <hr>

  <div class="row d-flex justify-content-center">
    <div class="col-sm-6">
      <canvas id="sectorsChart" width="500" height="500"></canvas>
    </div>
    <div class="col-sm-6">
      <canvas id="assetsChart" width="500" height="500"></canvas>
    </div>
  </div>


  <hr>
  
  <div class="row">
    <canvas id="statsChart" width="600" height="300"></canvas>
  </div>
{% else %}
<p>There are still no assets in your portfolio.</p>
<a class="btn btn-info mb-2" href="{{ url_for('asset') }}" role="button">Add asset</a>
{% endif %}


{% endblock %}

{% block scripts %}
  const ctx = document.getElementById('assetsChart');

  new Chart(ctx, {
    type: 'pie',
    plugins: [ChartDataLabels],
    data: {
      labels: [
          {% for item in assets %}
              "{{item.ticker.description}}",
          {% endfor %},
      ],
      datasets: [
      {
        label: ' value: ',
        data: [
            {% for item in assets %}
                "{{'{0:0.0f}'.format(item.value)}}",
            {% endfor %},

        ],
        borderWidth: 1,
        cutout: '60%',
      },
      ]
    },
    options: {
      responsive: true,
      animation: {
        //duration: 0
      },
      plugins: {
        legend: {
          position: 'right',
        },
        title: {
          display: true,
          text: 'Portfolio allocation',
          align: 'start'
        },
        tooltip: {
          enabled: true,
        },
        datalabels: {
           formatter: function(value, context) {
             var hiddens = context.chart._hiddenIndices;
             var total = 0;
             var datapoints = context.dataset.data;
             datapoints.forEach((val, i) => {
               if (hiddens[i] != undefined) {
                 if (!hiddens[i]) {
                   total += parseInt(val);
                 }
               } else {
                 total += parseInt(val);
               }
             });

             var percentage = (value / total * 100).toFixed(0) + "%";
             if (percentage != "NaN%") { // weird bug
               return percentage
             }
          },
          color: '#000',
          display: 'auto',
          anchor: 'center',
          align: 'center',
        }
      }
    }
  });

  const ctx2 = document.getElementById('statsChart');

  new Chart(ctx2, {
    type: 'line',
    data: {
      labels: [
          {% for item in stats %}
              "{{item.created_at.strftime("%m/%d/%Y %H:%M")}}",
          {% endfor %},
      ],
      datasets: [
      {
        label: ' value: ',
        data: [
            {% for item in stats %}
                "{{'{0:0.0f}'.format(item.value)}}",
            {% endfor %},

        ],
      },
      ]
    },
    options: {
      responsive: true,
      animation: {
        //duration: 0
      },
      plugins: {
        legend: {
          display: false,
          position: 'bottom',
        },
        title: {
          display: true,
          text: 'Performance'
        },
        tooltip: {
          enabled: true,
        },
      }
    }
  });

  const ctx3 = document.getElementById('sectorsChart');

  new Chart(ctx3, {
    type: 'pie',
    plugins: [ChartDataLabels],
    data: {
      labels: [
          {% for item in sectors %}
              "{{item.sector}}",
          {% endfor %},
      ],
      datasets: [
      {
        label: ' value: ',
        data: [
            {% for item in sectors %}
                "{{'{0:0.0f}'.format(item.value)}}",
            {% endfor %},

        ],
        borderWidth: 1,
        cutout: '60%',
      },
      ]
    },
    options: {
      responsive: true,
      animation: {
        //duration: 0
      },
      plugins: {
        legend: {
          position: 'right',
        },
        title: {
          display: true,
          text: 'Sectors',
          align: 'start'
        },
        tooltip: {
          enabled: true,
        },
        datalabels: {
           formatter: function(value, context) {
             var hiddens = context.chart._hiddenIndices;
             var total = 0;
             var datapoints = context.dataset.data;
             datapoints.forEach((val, i) => {
               if (hiddens[i] != undefined) {
                 if (!hiddens[i]) {
                   total += parseInt(val);
                 }
               } else {
                 total += parseInt(val);
               }
             });

             var percentage = (value / total * 100).toFixed(0) + "%";
             if (percentage != "NaN%") { // weird bug
               return percentage
             }
          },
          color: '#000',
          display: 'auto',
          anchor: 'center',
          align: 'center',
        }
      }
    }
  });

function updatePrices () {
    const res = fetch("{{ url_for('scrape') }}");
}

var interval = setInterval(function () { updatePrices(); }, 600000);
{% endblock %}
