<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ wallet_name }} Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
</head>
<body>
    <header>
        <h1>{{ wallet_name }}</h1>
    </header>
    <main>
        <div class="container">
            <div class="column">
                <h1>420.000</h1>
            </div>
            <div class="column">
                <h1>+3%</h1>
            </div>
            <div class="column">
                <h1>+3%</h1>
            </div>
            <div class="column">
                <h1>+3%</h1>
            </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>&Delta;</th>
                        <th>&euro;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>

    </main>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
