{% extends 'base.html' %}

{% block menu %}
  {% for wallet in user.wallets %}
  <li class="nav-item active">
    <a class="nav-link" href="/wallet/{{ wallet.id }}">{{ wallet.name }}</a>
  </li>
   {% endfor %}
{% endblock %}

{% block content %}

{% if assets %}

  <div class="row col-auto justify-content-center">
    <div class="table-responsive-sm">
      <table class="table table-hover table-sm table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="text-center table-secondary">#</th>
            <th scope="col" class="text-center table-secondary">Price</th>
            <th scope="col" class="text-center table-secondary">&Delta;%</th>
            <th scope="col" class="text-center table-secondary">PnL</th>
            <th scope="col" class="text-center table-secondary">&euro;</th>
            <th scope="col" class="text-center table-secondary">%</th>
            <th scope="col" class="text-center table-secondary">Target</th>
            <th scope="col" class="text-center table-secondary">&Delta;&euro;</th>
            <th scope="col" class="text-center table-secondary">&Delta;#</th>
            <th scope="col" class="text-center table-secondary">Final</th>
            <th scope="col" class="text-center table-secondary">MyPrice</th>
            <th scope="col" class="text-center table-secondary">Unr.%</th>
            <th scope="col" class="text-center table-secondary">Unr.&euro;</th>
         </tr>
        </thead>
        <tbody>
          {% for item in assets %}
          <tr>
            <th scope="row"><a href="{{ url_for('edit_asset', asset_id=item.id) }}">{{ item.ticker.description}}</a></th>

            {% if item.pnl_today >= 0 %}
              {% set color = 'table-success' %}
            {% else %}
              {% set color = 'table-danger' %}
            {% endif %}

            <td class="text-right {{color}}">{{ item.shares | format_int }}</td>
            <td class="text-right {{color}}">{{ item.ticker.price | format_decimal }}</td>
            <td class="text-right {{color}}">{{ item.ticker.price_change | format_decimal }}</td>
            <td class="text-right {{color}}">{{ item.pnl_today | format_int }}</td>
            <td class="text-right table-info">{{ item.value | format_int }}</td>
            <td class="text-right">{{ item.percentage | format_decimal }}</td>
            <td class="text-right">{{ item.target | format_decimal }}</td>
            <td class="text-right">{{ item.delta_value | format_int}}</td>
            <td class="text-right">{{ item.delta_value_shares | format_decimal }}</td>
            <td class="text-right">{{ item.final_value | format_int}}</td>
            <td class="text-right">{{ item.buy_price | format_decimal}}</td>
            <td class="text-right">{{ (100*item.unrealized_percentage) | format_int}}</td>
            <td class="text-right">{{ item.unrealized_pnl | format_int }}</td>
          </tr>
          {% endfor %}
          <tr>

          {% if portfolio.pnl_today >= 0 %}
            {% set color = 'table-success' %}
          {% else %}
            {% set color = 'table-danger' %}
          {% endif %}
            <th scope="row" class="table-info">TOTAL</th>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right {{color}} font-weight-bold">{{ portfolio.change | format_decimal  }}</td>
            <td class="text-right {{color}} font-weight-bold">{{ portfolio.pnl_today | format_int }}</td>
            <td class="text-right table-info font-weight-bold">{{ portfolio.value | format_int  }}</td>
            <td class="text-right"></td>
            <td class="text-right">{{portfolio.total_target | format_decimal}}</td>
            <td class="text-right font-weight-bold"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
          {% if portfolio.unrealized_pnl >= 0 %}
            {% set color = 'table-success' %}
          {% else %}
            {% set color = 'table-danger' %}
          {% endif %}
            <td class="text-right {{color}} font-weight-bold">{{ '{:,.2f}'.format(100* portfolio["unrealized_pnl"] / portfolio.value)  }}</td>
            <td class="text-right {{color}} font-weight-bold">{{ '{:,.2f}'.format(portfolio["unrealized_pnl"])  }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="d-flex flex-row-reverse">
      <small><a class="text-secondary" style="text-decoration:none;" role="button" href="{{ url_for('scrape') }}">last update: {{last_scrape}}</a></small>
  </div>

  <hr>

  <div class="row d-flex justify-content-center">
    <div class="col-auto">
      <canvas id="assetsChart" width="400" height="400"></canvas>
    </div>
  </div>

{% else %}
<p>There are still no assets in your portfolio.</p>
<a class="btn btn-info mb-2" href="{{ url_for('asset') }}" role="button">Add asset</a>
{% endif %}


{% endblock %}

{% block scripts %}
  const ctx = document.getElementById('assetsChart');

  new Chart(ctx, {
    type: 'pie',
    plugins: [ChartDataLabels],
    data: {
      labels: [
          {% for item in assets %}
              "{{item.ticker.description}}",
          {% endfor %},
      ],
      datasets: [
      {
        label: ' value: ',
        data: [
            {% for item in assets %}
                "{{'{0:0.0f}'.format(item.value)}}",
            {% endfor %},

        ],
        borderWidth: 1,
        cutout: '60%',
      },
      ]
    },
    options: {
      responsive: false,
      animation: {
        //duration: 0
      },
      plugins: {
        legend: {
          position: 'right',
        },
        title: {
          display: true,
          text: 'Portfolio allocation',
          align: 'start'
        },
        tooltip: {
          enabled: true,
        },
        datalabels: {
           formatter: function(value, context) {
             var hiddens = context.chart._hiddenIndices;
             var total = 0;
             var datapoints = context.dataset.data;
             datapoints.forEach((val, i) => {
               if (hiddens[i] != undefined) {
                 if (!hiddens[i]) {
                   total += parseInt(val);
                 }
               } else {
                 total += parseInt(val);
               }
             });

             var percentage = (value / total * 100).toFixed(0) + "%";
             if (percentage != "NaN%") { // weird bug
               return percentage
             }
          },
          color: '#000',
          display: 'auto',
          anchor: 'center',
          align: 'center',
        }
      }
    }
  });

const ctx2 = document.getElementById('statsChart');

new Chart(ctx2, {
  type: 'line',
  data: {
    labels: [
      {% for item in stats %}
          "{{item.created_at.strftime("%m/%d/%Y")}}",
      {% endfor %}
    ],
    datasets: [
      {
        label: 'Value: ',
        data: [
          {% for item in stats %}
              "{{'{0:0.0f}'.format(item.value)}}",
          {% endfor %}
        ],
        backgroundColor: 'rgb(60, 60, 255, 0.8)',
        borderWidth: 3,
        fill: false,
        yAxisID: 'y-axis-1',
        pointRadius: 1,
        borderColor : [
          {% for item in stats %}
              {% if loop.last %}
                  'orange', // Color for the last point
              {% else %}
                  'blue', // Color for other points
              {% endif %}
          {% endfor %}
        ],
      },
      {
        label: 'PNL',
        data: [
          {% for item in stats %}
              "{{'{0:0.0f}'.format(item.pnl)}}",
          {% endfor %}
        ],
        type: 'bar',
        backgroundColor: function(context) {
          var value = context.dataset.data[context.dataIndex];
          var color = value >= 0 ? 'rgba(0, 255, 0, 0.25)' : 'rgba(255, 0, 0, 0.25)';
          return color;
        },
        fill: false,
        yAxisID: 'y-axis-2',
      },
      {
        label: 'Volatility 7d',
        data: [
          {% for item in stats %}
              "{{ 100 * item.rolling_avg_30d }}",
          {% endfor %}
        ],
        backgroundColor: 'purple',
        borderColor: 'purple',
        borderWidth: 1,
        fill: false,
        yAxisID: 'y-axis-3',
        pointRadius: 0,
      },
      {
        label: '-Volatility 7d',
        data: [
          {% for item in stats %}
              "{{ -100 * item.rolling_avg_30d }}",
          {% endfor %}
        ],
        backgroundColor: 'purple',
        borderColor: 'purple',
        borderWidth: 1,
        fill: false,
        yAxisID: 'y-axis-3',
        pointRadius: 0,
      },
      //{
       // label: 'Change',
       // data: [
       //   {% for item in stats %}
       //       "{{ 100*item.move }}",
       //   {% endfor %}
       // ],
       // type: 'bubble',
       // borderColor: 'rgba(0, 0, 0, 0)',
       // backgroundColor: function(context) {
       //   var value = context.dataset.data[context.dataIndex];
       //   var color = value >= 0 ? 'rgba(0, 255, 100, 0.7)' : 'rgba(255, 0, 0, 0.7)';
       //   return color;
       // },
       // fill: false,
       // yAxisID: 'y-axis-3',
      // },
    ]
  },
  options: {
    responsive: true,
    plugins: {
      legend: {
        display: true,
        position: 'bottom',
      },
      title: {
        display: true,
        text: 'Performance'
      },
      tooltip: {
        enabled: true,
      },
    },
    scales: {
      'y-axis-1': {
        type: 'linear',
        display: true,
        position: 'right',
        grid: {
          drawOnChartArea: true,
        },
      },
      'y-axis-2': {
        type: 'linear',
        display: true,
        position: 'left',
        grid: {
          drawOnChartArea: false,
        },
      },
      'y-axis-3': {
        type: 'linear',
        display: true,
        position: 'right',
        grid: {
          drawOnChartArea: false,
        },
        min: -5,
        max: 5,
      },
      x: {
        type: 'category',
        labels: [
          {% for item in stats %}
              "{{item.created_at.strftime("%m/%d/%Y")}}",
          {% endfor %}
        ],
      }
    }
  }
});

{% endblock %}
